<h1>User Login</h1>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="login">

      <div class="form">
        <div class="form-group">
          <label for="">User Name</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Pasword</label>
          <input type="password" class="form-control">
        </div>

        <div style="margin-top: 10px" class="form-group">
          <button class="btn btn-success">Login</button>
          <a class="btn btn-warning float-end" routerLink="/user-register">Register</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>


